Repository 394-w25/PlanifyAI, pull requests merged in 2025-01, with the labels that each got.

#3 fix: change date in add task
  .github/workflows/firebase-preview.yml
  src/components/Home/Calendar/AddTaskButton.tsx
Labels: bug, size/XS, components

#5 feat: add Me page
  src/components/Me/ActionButtons.tsx
  src/components/Me/MainInfo.tsx
  src/components/Me/index.ts
  src/components/common/SmallLoadingCircle.tsx
  src/components/common/index.tsx
  src/pages/Me.tsx
  src/routes.tsx
Labels: enhancement, pages, components, size/L

#7 chatbot UI added
  src/components/Chatbot/Chatbot.tsx
  src/components/Chatbot/index.ts
  src/components/common/CustomDialog.tsx
  src/pages/Home.tsx
  src/routes.tsx
Labels: pages, components, size/M

#17 feat: add time range for add task
  src/components/Home/Calendar/AddTaskButton.tsx
  src/components/Home/Calendar/AddTaskButton/CustomInputField.tsx
  src/components/Home/Calendar/AddTaskButton/index.tsx
  src/types/user.d.ts
Labels: bug, enhancement, components, size/L

#14 feat: add weekly view for calendar
  package-lock.json
  package.json
  src/components/Home/Calendar/WeekCalendar.tsx
  src/components/Home/Calendar/index.tsx
  vite.config.ts
Labels: components, size/M

#18 fix: localstorage not updated on time when refreshing
  src/stores/userStore.ts
Labels: bug, size/XS

#12 feat: api-integration added
  .gitignore
  src/components/Chatbot/Chatbot.tsx
  src/components/Chatbot/MessageInput.tsx
  src/components/Chatbot/MessageList.tsx
  src/components/Chatbot/index.ts
  src/components/Chatbot/index.tsx
  src/hooks/index.ts
  src/hooks/useChatbot.ts
  src/pages/Home.tsx
  src/types/chatBot.d.ts
Labels: pages, components, size/L, hooks

#21 fix: fix task details dialog date showing
  src/components/Home/Calendar/TaskDialog.tsx
Labels: bug, components

#23 fix for issue #22
  src/components/common/Layout/Header.tsx
Labels: bug, components, size/M

#28 fix: me page centering
  .github/workflows/firebase-deploy.yml
  .github/workflows/firebase-preview.yml
  .node-version
  README.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/components/Me/MainInfo.tsx
  src/pages/Me.tsx
Labels: enhancement, pages, components, size/M
