Repository 394-w25/PlanifyAI, pull requests merged in 2025-02, with the labels that each got.

#33 color-coded categories
  src/components/Home/Calendar/WeekCalendar.tsx
Labels: size/XS, components

#35 fix: new user not able to add task
  .github/workflows/firebase-deploy.yml
  .github/workflows/firebase-preview.yml
  .github/workflows/label-pr-based-on-paths.yml
  src/App.tsx
  src/stores/scheduleStore.ts
  src/stores/userStore.ts
  src/utils/firebase/firebaseUtils.ts
  src/utils/firebase/schedule.ts
  src/utils/firebase/userProfile.ts
Labels: bug, size/L, utils

#32 feat: add recurring events for add task
  src/components/Home/Calendar/AddTaskButton/RecurringTaskOptions.tsx
  src/components/Home/Calendar/AddTaskButton/index.tsx
  src/components/Home/Calendar/CalendarComponent.tsx
  src/components/Home/Calendar/ScheduleCalendar.tsx
  src/components/Home/Calendar/TaskDialog.tsx
  src/components/Home/Calendar/WeekCalendar.tsx
  src/components/Home/Calendar/index.tsx
  src/components/common/UI/CustomInputField.tsx
  src/components/common/UI/CustomSelectField.tsx
  src/components/common/UI/index.ts
  src/hooks/index.ts
  src/hooks/useCalendarHandlers.ts
  src/hooks/useTaskReducer.ts
  src/hooks/useTimeManagement.ts
  src/types/user.d.ts
  src/utils/calendar.ts
Labels: components, hooks, utils, types, size/XL

#37 style: colored background with selected date
  src/components/Home/Calendar/CalendarComponent.tsx
Labels: components, size/S

#36 feat:update/delete task
  src/components/Home/Calendar/AddTaskButton/index.tsx
  src/components/Home/Calendar/TaskDialog.tsx
  src/components/Home/Calendar/TaskInputDialog/RecurringTaskOptions.tsx
  src/components/Home/Calendar/TaskInputDialog/index.tsx
  src/components/Home/Calendar/TaskList.tsx
  src/components/Home/Calendar/index.tsx
  src/hooks/useTaskReducer.ts
  src/stores/scheduleStore.ts
  src/types/user.d.ts
  src/utils/firebase/schedule.ts
Labels: components, size/L, hooks, utils, types, stores

#38 feat: add Holidays to calendar
  package-lock.json
  package.json
  src/components/Home/Calendar/CalendarComponent.tsx
  src/components/Home/Calendar/TaskInputDialog/index.tsx
  src/hooks/useCalendarHandlers.ts
  src/types/user.d.ts
  src/utils/calendar.ts
Labels: components, hooks, size/S, utils, types

#45 fix: refresh when click on a date
  src/components/Home/Calendar/CalendarComponent.tsx
  src/components/Home/Calendar/TaskDialog.tsx
  src/components/Home/Calendar/TaskInputDialog/index.tsx
Labels: bug, components, size/S

#46 style: change edit task to confirm
  src/components/Home/Calendar/TaskInputDialog/index.tsx
Labels: size/XS, components

#24 feat: update useChatbot.ts to add prompt
  src/hooks/useChatbot.ts
Labels: hooks, size/S

#47 feat: Auto add event by prompt
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/dependency_updat.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/firebase-deploy.yml
  .github/workflows/firebase-preview.yml
  .github/workflows/label-pr-based-on-paths.yml
  .github/workflows/label-pr-size.yml.yml
  .github/workflows/mind-your-language.yml
  package-lock.json
  package.json
  src/components/Chatbot/index.tsx
  src/hooks/useChatbot.ts
  src/types/chatBot.d.ts
  src/utils/chatbotConst.ts
  vite.config.ts
Labels: components, size/L, hooks, utils, types

#52 feat:list task by priority
  src/components/Home/Calendar/CalendarComponent.tsx
  src/components/Home/Calendar/TaskInputDialog/index.tsx
Labels: size/XS, components

#53 feat: add popup confirm for chatbot adding event
  src/components/Chatbot/TaskAdditionConfirmationDialog.tsx
  src/components/Chatbot/index.tsx
  src/components/Home/Calendar/TaskDialog.tsx
  src/components/common/ConfirmationDialog.tsx
  src/components/common/CustomDialog.tsx
  src/hooks/useChatbot.tsx
Labels: bug, enhancement, components, hooks, size/S
